{% extends "base.html" %}

{% block title%}Enter your Feedback{% endblock %}

{% block content %} 
<h2>send us  Feedback</h2>
<form method="POST" action="/feedback">
    <label for="username">username:</label>
    <input type="text" name="username" id="username" placeholder="Enter your name"><br><br>
        
    <label for="message">message:</label>
    <input type="text" name="message" id="message" placeholder="Enter the Message"><br><br>

    <button type="submit">"Submit Feedback"</button>
</form>

{% endblock %}